server:
  port: 8092
spring:
  application:
    name: medical-record-service
  datasource:
    url: jdbc:mysql://localhost:3306/medical_record_db?createDatabaseIfNotExist=true
    username: root
    password: Mayank.00
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
app:
  jwt:
    secret: VGhpc0lzQVN1cGVyU2VjcmV0S2V5Rm9ySldUV2l0aEF0TGVhc3QzMkNoYXJzIQ==
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
