server:
  port: 8080
spring:
  application:
    name: gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: false
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      routes:
        - id: identity-login
          uri: lb://identity-service
          predicates:
            - Path=/login
        - id: doctor-service
          uri: lb://doctor-service
          predicates:
            - Path=/doctor/**
        - id: patient-service
          uri: lb://patient-service
          predicates:
            - Path=/patient/**
        - id: appointment-service
          uri: lb://appointment-service
          predicates:
            - Path=/appointment/**
        - id: medical-record-service
          uri: lb://medical-record-service
          predicates:
            - Path=/medicalrecord/**
        - id: billing-service
          uri: lb://billing-service
          predicates:
            - Path=/bill/**
        - id: dashboard-service
          uri: lb://dashboard-service
          predicates:
            - Path=/dashboard/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
